<%- include("../partials/head", {title: "Welcome Bon Plated" }) %>

<div class="container">
 <h1 class="recipe"><%= recipe.title %></h1>

    <p><%= recipe.description %></p>
    <p><%= recipe.recipeId %></p>
    <p><%= recipe.ingredientsWithDetails %></p>

    <% ingredientsWithDetails.forEach((ingredientsWithDetail) => { %> 
        <div class="card">
            <p><%= ingredientsWithDetail.name %></p>
            <p><%= ingredientsWithDetail.quantity %></p>
        </div>
    <% }) %>
      


        

<div class="container">


        <ul>
        <% starterInstructions.forEach(function(instruction) { %>
            <li><strong>Étape <%= instruction.step %>:</strong> <%= instruction.description %></li>
        <% }) %>
        </ul>



        <h2>Commentaires</h2>
        <ul>
        <% starterComment.forEach(function(comment) { %>
            <li>
            <strong>Commentaire #<%= comment.id %></strong><br>
            <%= comment.content %><br>
            <% if (comment.author) { %>
                <em>– <%= comment.author %></em>
            <% } %>
            </li>
        <% }) %>
        </ul>
        
   
</div>



    </div>
</div>

    <%- include ("../partials/footer") %>